.maplibregl-control-container {
  display: none !important;
}

.mapboxgl-children {
  display: none !important;
  height: 0 !important;
}

.maplibregl-map div:last-of-type {
  display: none !important;
}

.mapInner {
  height: calc(100vh - 250px);
  position: relative;
}

.infoCard {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  font-size: 12px;
  width: max-content;
  padding: 5px;

  tbody td {
    padding: 2px 5px;
  }
}
