.videoInner {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  object-fit: cover;
  background-repeat: no-repeat;
  video {
    height: 95%;
    object-fit: cover;
  }

  .text {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(45deg, #ff8c00 33%, #000000 60%, #ff8c00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
    display: table;
    margin: 20px auto;
  }
}

.postcard {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .imageInner {
    display: block;
    width: max-content;
    height: 100%;

    .img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: moveImage 5s linear infinite;
    }
  }

  .textContent {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 75px;
    color: #e76e64;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%), 0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%), 0 5px 0 hsl(174, 5%, 64%),
      0 6px 0 hsl(174, 5%, 62%), 0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
      0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
  }
}

@keyframes moveImage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1010px) {
  .postcard {
    height: 75px;
    .textContent {
      font-size: 50px;
    }
  }
}

@media (max-width: 865px) {
  .postcard {
    height: 50px;
    .textContent {
      font-size: 30px;
    }
  }
}
