.dropdownButton {
  width: 300px !important;
  padding: 0;

  .titleButton {
    width: 130px;
    text-align: left !important;
  }

  .count {
    width: 0;
    padding: 0;
  }
}

.custom {
  cursor: default;
}
