.cyOdnA {
  white-space: break-spaces !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.hmVlQg div:first-child {
  white-space: break-spaces !important;
}

.iejuCC div:first-child {
  white-space: break-spaces !important;
}
.kmvUTK {
  z-index: 0;
}
